{% extends 'base.html.twig' %}

{% block title %}Personagens index{% endblock %}
{% block stylesheets %}
    <style>
        #btn-listar{
            color:#FFF;
            background-color:#33AA33;
            cursor:default;
        }
    </style>
    
{% endblock %}

{% block body %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for personagen in personagens %}
            <tr>                
                <td>{{ personagen.nome }}</td>                
                <td>
                    <a href="{{ path('personagens_show', {'id': personagen.id}) }}">Detalhes</a>             
                </td>                
                <td>
                    {{ include('personagens/_delete_form.html.twig') }}       
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Nenhum personagem salvo</td>
            </tr>
        {% endfor %}

        
        </tbody>
    </table>

    
{% endblock %}
