body {
    background-color: #FFF;
}

span.button{
	background-color:#FFF;
	color:#000;
	font-weight: bold;
	border: 1px solid #000;
	border-radius:15px;
	padding:5px;
	font-size:16px;
	cursor:pointer;
}

span.button:hover, span.button.selected{
	color:#FFF;
	background-color:#33AA33;
}


#waitloader{
	position: absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.4);
	text-align: center;
	padding-top:150px;
	display:none;
}

ul.ui-autocomplete{
	background-color: #eee;
	max-width: 250px;

}

.container{
	width:90% !important;
}

.ui-helper-hidden-accessible{
	display:none;
}