body {
    background-color: #FFF;
}

span.button{
	background-color:#FFF;
	color:#000;
	font-weight: bold;
	border: 1px solid #000;
	border-radius:15px;
	padding:5px;
	font-size:16px;
	cursor:pointer;
}

span.button:hover, span.button.selected{
	color:#FFF;
	background-color:#33AA33;
}


